{% extends "padre.html" %}

{% block titulo %}
Vista de sabores
{% endblock %}

{% block parrafo %}
<ol>

    {% for valor in total %}

        <li>{{valor.sabor}}</li>

        {% if user.is_authenticated %}
        <a href="{% url 'Actualizar_sabores' valor.sabor %}">Actualizar Sabor</a>
        <a href="{% url 'Borrar_sabores' valor.sabor %}">Borrar Sabor</a>
        {% endif %}

    {% endfor %}

</ol>

<a class="btn btn-primary" href="{% url 'Crear_sabores' %}">Nuevo Sabor</a>

{% endblock %}